*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.date, .time{
    background: linear-gradient(to left, lightblue, lightgreen);
    width: 300px;
    height: 90px;
    padding: 20px;
    border: 7px solid rgb(5, 94, 121);
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time{
    margin-top: 0;
    background: black;
    border-width: 7px;
    border-style: solid;
    border-image: -webkit-linear-gradient(45deg, skyblue, lightgreen, yellow, orange, red, pink) 30;
}
.date p{
    font-size: 26px;
    font-weight: bold;
}
.time p{
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, skyblue, lightgreen, yellow, orange, red, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}