*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.navbar{
    background-color: blue;
    padding: 5px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-link{
    display: flex;
}
.navbar .nav-link p a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
    display: inline-block;
    /* background-color: white; */
    padding: 15px 0px;
}
.navbar .nav-link .btn{
    background-color: white;
    color: black;
    padding: 5px 25px;
    border-radius: 3px;
    margin-top: 10px;
}
.navbar .nav-link .dropdownlist{
    position: absolute;
    top: 55px;
    left: 74%;
    background-color: blue;
    display: none;
}
.navbar .nav-link .dropdownlist a{
    color: white;
    padding: 12px 16px;
    margin: 0;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
.navbar .nav-link .dropdown:hover .dropdownlist {
    display: block;
}
.navbar .nav-link .dropdown .dropdownlist .fa-caret-down{
    transform: rotate(-90deg);
}

.navbar .nav-link .dropdownlist2{
    position: absolute;
    top: 76%;
    left: 100%;
    background-color: blue;
    display: none;
}
.navbar .nav-link .dropdownlist2 a{
    color: white;
    padding: 12px 16px;
    margin: 0;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
.navbar .nav-link .dropdown2:hover .dropdownlist2 {
    display: block;
}